<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <meta-data
            android:name="pushups.lib_name"
            android:value="pushups_probe" />
        <!-- A module of another version than the crate, as an AAR of another release would bring. -->
        <meta-data
            android:name="pushups.module_version"
            android:value="0.0.0-mismatch"
            tools:replace="android:value" />
    </application>
</manifest>
